#root {
  height: 100%;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.App {
  height: 100%;
  display: grid;
  grid-template:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
}

h1 {
  margin: 0;
}

header {
  background-color: #203040;
  grid-area: header;
  display: flex;
  align-items: center;
  color: white;
}

header .logo {
  padding: 1rem;
  font-weight: 800;
  font-size: 3rem;
}

header a {
  color: white;
}

header a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img.large {
  max-width: 100%;
  max-height: 60rem;
  object-fit: scale-down;
}

img.small {
  max-width: 100%;
  max-height: 10rem;
  object-fit: cover;
}

header nav a:hover {
  color: #ff8000;
}

header nav {
  margin-left: auto;
  padding: 0 1rem;
}

header nav a {
  padding: 1rem;
}

main {
  height: 100%;
  padding: 1rem;
  grid-area: main;
}

footer {
  background-color: #203040;
  color: #ccc;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.top {
  align-items: flex-start;
}

.card {
  flex: 0 0 25rem;
  margin: 1rem auto;
  min-width: 300px;
  background-color: rgb(247, 249, 231);
  border: 1px solid #999;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
}

.card.empty {
  border: none;
}

.card .card-thumbnail img {
  display: block;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
}

.card .card-body {
  padding: 1rem;
}
.card.no-flex {
  flex: none;
}

.row select {
  padding: 0.5rem 1rem;
  border: 1px solid #999;
  border-radius: 0.3rem;
}

.loading {
  display: block !important;
}

.rating {
  display: flex;
  color: #f0c040;
  font-size: 1.5rem;
  font-weight: bold;
}

.rating .review {
  margin: 0 0 0 2rem;
  color: rgb(58, 58, 58);
  font-weight: 400;
}

.seller {
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
}

.price {
  font-size: 2rem;
  font-weight: bold;
}

.col-2,
.col-1 {
  padding: 1rem;
}

.col-2 {
  flex: 2 1 50rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.col-1 {
  flex: 1 1 25rem;
}

.success,
.error {
  font-weight: 400;
  font-size: 1.5rem;
}

.error {
  color: red;
}

.success {
  color: green;
}

select,
input,
textarea,
button {
  padding: 1rem 2rem;
  border: 1px solid #999;
  border-radius: 0.5rem;
}

button {
  background-color: #aaaaaa;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus {
  border-color: black;
}

button.primary {
  background-color: #f0c040;
}

button:disabled.primary {
  background-color: #ccc;
}

button.block {
  width: 100%;
  display: block;
}

.alert {
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}

.alert-error {
  color: rgb(148, 0, 0);
  border-color: rgb(148, 0, 0);
  background-color: rgb(255, 176, 176);
}

.alert-success {
  color: rgb(0, 148, 0);
  border-color: rgb(0, 148, 0);
  background-color: rgb(176, 255, 176);
}

.badge {
  display: inline-block;
  margin-left: 0.5rem;
  padding: 0.2rem 0.7rem;
  background-color: red;
  border-radius: 50%;
  color: white;
}

.w-100 {
  width: 100%;
}

.min-30 {
  min-width: 30rem;
}

button.deletebutton {
  // background-color: gray;
  color: white;
}

.form {
  min-width: 50rem;
}

.formInput {
  margin: 1rem 0;

  & input {
    background-color: white;
  }
  & label {
    margin-bottom: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  &.normal {
    display: flex;
    flex-direction: column;

    & label:hover {
      cursor: auto;
    }
  }
}

.dropdown {
  display: inline-block;
  position: relative;

  &:hover {
    .dropdownContent {
      display: block;
    }
  }

  .dropdownContent {
    position: absolute;
    display: none;
    right: 0;
    min-width: 12rem;
    padding: 1rem;
    z-index: 1;
    background-color: #203040;
    margin: 0.4rem 0 0;
    border-radius: 0.5rem;
  }
}

.checkoutSteps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  text-align: center;
  font-weight: bold;

  &.active {
    border-color: #ff8000;
    color: #ff8000;
  }
}
