#root {
  height: 100%;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.App {
  height: 100%;
  display: grid;
  grid-template:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
}

h1 {
  margin: 0;
}

header {
  background-color: #203040;
  grid-area: header;
  display: flex;
  align-items: center;
  color: white;
}

header .logo {
  padding: 1rem;
  font-weight: 800;
  font-size: 3rem;
}

header a {
  color: white;
}

header a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img.large {
  width: 100%;
}

header nav a:hover {
  color: #ff8000;
}

header nav {
  margin-left: auto;
  padding: 0 1rem;
}

header nav a {
  padding: 1rem;
}

main {
  height: 100%;
  padding: 1rem;
  grid-area: main;
}

footer {
  background-color: #203040;
  color: #ccc;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.center {
  justify-content: center;
}

.top {
  align-items: flex-start;
}

.card {
  flex: 0 0 25rem;
  margin: 1rem auto;
  min-width: 300px;
  background-color: rgb(247, 249, 231);
  border: 1px solid #999;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
}

.card.empty {
  border: none;
}

.card .card-thumbnail img {
  display: block;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  -webkit-border-radius: 1rem 1rem 0 0;
  -moz-border-radius: 1rem 1rem 0 0;
}

.card .card-body {
  padding: 1rem;
}

.rating {
  display: flex;
  color: #f0c040;
  font-size: 1.5rem;
  font-weight: bold;
}

.rating .review {
  margin: 0 0 0 2rem;
  color: rgb(58, 58, 58);
  font-weight: 400;
}

.seller {
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
}

.price {
  font-size: 2rem;
  font-weight: bold;
}

.col-2 {
  flex: 2 1 50rem;
}

.col-1 {
  flex: 1 1 25rem;
}

.success,
.error {
  font-weight: 400;
  font-size: 1.5rem;
}

.error {
  color: red;
}

.success {
  color: green;
}

button {
  padding: 1rem 2rem;
  font-weight: 800;
  border: 1px solid #999;
  border-radius: 0.5rem;
  background-color: #aaaaaa;
  cursor: pointer;
}

button:hover,
button:focus {
  border-color: black;
}

button.primary {
  background-color: #f0c040;
}

button.block {
  width: 100%;
  display: block;
}
